
/* EX 1 */
.ex-1-square {
    transition: all 1s ease-in-out;
}
.ex-1-square:hover {
    background-color: red;
}

/* EX 2 */
.ex-2-square {
    transition: all 2s;
}
.ex-2-square:active {
    width: 100%;
}

/* EX 3 */
.ex-3-square {
    transition: all 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/*  EX 4 */
.ex-4-square {
    transition: all 1s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* EX 5 */
.ex-5-square {
    transition: all 1s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(.5)
}

/* EX 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* EX 7 */
.ex-7-img {
    transition: all 1.5s ease-in-out;
}
.ex-7-img:hover {
    filter: grayscale(1);
}

/* EX 8 */
.ex-8-img {
    transition: all 2s ease-in-out;
}
.ex-8-img:hover {
    filter: grayscale(.2) sepia(.7);
    border-radius: 30px;
}

/* EX 9 */
.ex-9-img {
    transition: all 1s ease-in-out;
}
.ex-9-img:hover {
    filter: grayscale(.2) sepia(.7);
    border-radius: 30px;
    transform: scale(1.5);
}

/* EX 10 */
.ex-10-icon {
    animation: rotate 1s linear infinite;
}

/* EX 11 */
.ex-11-icon:hover {
    animation: short-rotate 1.5s linear;
}

/* EX 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: move-top-white 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: move-bottom-white 2s linear;
}

/* EX 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: full-round-top-white 2s linear;
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: full-round-bottom-white 2s linear;
}


/* Animations */

/* EX 10 */
@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

/* EX 11 */
@keyframes short-rotate {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(270deg);
    }
}

/* EX 12 */
@keyframes move-top-white {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }

}

@keyframes move-bottom-white {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }

}

/* EX 13 */
@keyframes full-round-top-white {
    0% {
        top: -10px;
        left: 10%;
    }
    30% {
        top: -10px;
        left: calc(100% - 30px);
    }
    45% {
        top: 100%;
        left: calc(100% - 30px);
    }
    75% {
        top: 100%;
        left: -22px;
    }
    90% {
        top: -10px;
        left: -22px;
    }
    100% {
        top: -10px;
        left: 10%;
    }

}

@keyframes full-round-bottom-white {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 52px);
    }
    45% {
        bottom: 100%;
        right: calc(100% - 52px);
    }
    75% {
        bottom: 100%;
        right: -22px;
    }
    90% {
        bottom: -10px;
        right: -22px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }

}

